body{
    background-image: url(../../images/pexels-mario-schmidt-5374152.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.form__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color:darkblue;
    margin-bottom: 12px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        line-height: 1.15;
    }
}

.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__label {
    display: flex;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form__input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin: 0;
    padding-left: 42px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.form__feedback {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.form-group__two{
    margin-bottom: 20px;
    @media screen and (min-width: 425px) {
        margin-top: 20px;
    margin-bottom: 65px;
    }
}

.form__feedback-label {
    display: flex;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.checkbox__link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.form__button {
    padding: 10px 55px 10px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: inline-block;
    letter-spacing: 0.06em;
    color:#ffffff;
    background-color: #2196f3;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;    
    &:hover,
    &:focus{
        text-shadow: 1px 1px 2px black;
    }
}

.form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 609px;
    padding: 25px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: azure;
   text-align: center;
    
    @media screen and (min-width: 480px) {
        width: 450px;
        height: 609px;
        padding: 40px;
    }
    
    @media screen and (min-width: 768px) {
        width: 528px;
        height: 581px;
    }
}